* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-bg: #000000;
    --primary-color: #ffffff; 
    --secondary-bg: #010139; 
    --text-light: #ffffff;
}

body {
    background-color: var(--dark-bg);
    color: var(--text-light);
    font-family: initial, sans-serif;
    min-height: 100vh;
    display: flexbox;
}

section {
    padding: 100px 5%; 
}

h1, h2, h3 {
    color: var(--text-light);
}

a {
    color: var(--text-light);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #010131; 
    border-bottom: 2px solid var(--secondary-bg);
    position: sticky;
    top: 0%;
    z-index: 1000;
    box-shadow: #010131;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color);
}
.navbar .logo .highlight-logo {
        color: rgb(93, 108, 178);
}

.main-nav a {
    margin: 0 15px;
    font-size: 1em;
}

.hero-section {
    min-height: calc(100vh - 64px); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle at 50% 50%, #010139 0%, #050510 100%);
    position: relative;
    overflow: hidden;
}

.hero-content h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--text-light); 
}

.hero-content h1 .highlight {
    color: rgb(62, 80, 163);
    text-shadow: 0 0 5px rgba(15, 15, 15, 0.5); 
}
.hero-content p {
    font-size: 1.2em;
    color: #cccccc;
}

.about-section {
    background-color: var(--dark-bg);
    text-align: center;
}

.about-section h2 {
    font-size: 2.5em;
    color: var(--primary-color); 
    margin-bottom: 50px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    max-width: 1000px; 
    margin: 0 auto;
    text-align: left;
}

.about-image-container {
    flex: 0 0 40%;
    max-width: 350px;
    padding-right: 20px;
}

.profile-img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    border: 3px solid var(--primary-color); 
    box-shadow: 0 0 15px rgba(147, 112, 219, 0.5); 
}

.about-text {
    flex: 1; 
    padding-left: 20px;
}

.about-text h3 {
    color: var(--primary-color);
    font-size: 1.8em;
    margin-bottom: 20px;
}

.about-text h3 .highlight {
        color: rgb(62, 80, 163);
}

.about-text p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: var(--text-light);
}

.download-btn {
    display: inline-block;
    background-color: cornflowerblue; 
    color: var(--dark-bg);
    padding: 12px 25px;
    margin-top: 30px; 
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none; 
}

.skill-section h2 {
    text-align: center;
    margin-bottom: 50px; 
    font-size: 2.5em;
}

.skills-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 25px;
    max-width: 750px;
    margin: 30px auto
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-bg); 
    padding: 20px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(114, 115, 158, 0.4);
    transition: transform 0.3s, background-color 0.3s;
    border: 1px solid transparent;
}

.skill-item:hover {
    transform: translateY(-5px); 
    background-color: #353550;
    border-color: var(--primary-color);
}

.skill-item i {
    font-size:3em;
    color: var(--primary-color); 
    margin-bottom: 10px;
}

.skill-item span {
    font-size: 1.em;
    font-weight: bold;
}

.project-section h2 {
    text-align: center;
    margin-bottom: 50px; 
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 30px;
    margin-top: 30px;
}

.project-card {
    background-color: var(--secondary-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    border: 1px solid #3a3a50;
}

.project-card:hover {
    transform: scale(1.02);
    border-color: var(--primary-color);
}

.project-thumbnail {
    height: 500px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;   
}

.project-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.project-card:hover .project-thumbnail img {
    transform: scale(1.05); 
}

.project-card h3 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.project-card p {
    font-size: 1em;
    color: #cccccc;
    margin-bottom: 15px;
}

.project-link {
    color: #ffffff;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.project-link i {
    margin-left: 8px;
    transition: margin-left 0.3s;
}

.project-link:hover i {
    margin-left: 15px;
    color: var(--primary-color);
}

.contact-section {
    padding: 100px 5%;
    background-color: var(--dark-bg);
    text-align: center;
}

.contact-title {
    font-size: 2.1em;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.contact-box {
    max-width:800px;
    margin: 0 auto;
}

.contact-form-design {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 50px;
    background-color: #010139; 
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.form-group-design {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group-design label {
    font-weight: bold;
    color: var(--text-light);
    flex-shrink: 0; 
    min-width: 80px; 
    text-align: right;
}

.contact-form-design input,
.contact-form-design textarea {
    width: 200%;
    padding: 25px;
    background-color: #ffffff; 
    border: none;
    color: var(--dark-bg); 
    border-radius: 9px;
    font-size: 1.2em;
}

.contact-form-design textarea {
    resize: none; 
    height: 130px;
}

.contact-form-design input:focus,
.contact-form-design textarea:focus {
    outline: 4px solid var(--primary-color);
}

.send-button-figma {
    position: absolute;
    bottom: 5px; 
    right: 7px;  
    background-color: #171747; 
    color: var(--text-light);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.send-button-figma:hover {
    background-color: #6f6aa1;
}

.contact-sosmed-figma {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    max-width: 450px;
    margin: 0 auto;
}

.sosmed-item-figma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sosmed-item-figma a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sosmed-item-figma i {
    font-size: 3em;
    color: var(--primary-color); 
    
}


/*--ubah ke tablet--*/
@media (min-width: 768px) and (max-width: 1024px) {
    section {
        padding: 80px 4%; 
    }
    
    .main-nav a {
        margin: 0 10px; 
    }

    .about-image-container {
        max-width: 300px;
    }
    
    .skills-grid {
        max-width: 800px;
    }

    .projects-grid {
        max-width: 95%; 
    }
    
    .contact-box {
        max-width: 700px; 
    }
}

/*--ubah ke hp--*/
@media (max-width: 767px) {
    
    section {
        padding: 50px 3%; 
    }
    
    .navbar {
        flex-direction: column; 
        align-items: center; 
        padding: 15px 5%;
    }
    
    .main-nav {
        order: 2; 
        margin-top: 10px;
        display: flex; 
        justify-content: center;
        flex-wrap: wrap; 
    }

    .main-nav a {
        margin: 5px 8px; 
        font-size: 0.85em; 
        padding: 3px 6px;
    }
    
    .hero-content h1 {
        font-size: 2.2em; 
    }

    .about-content {
        flex-direction: column; 
        text-align: center;
    }

    .about-image-container {
        margin: 0 auto 30px auto; 
        padding-right: 0;
        max-width: 80%; 
    }
    
    .about-text {
        padding-left: 0;
    }
    
    .skills-grid, .projects-grid {
        max-width: 100%; 
        padding: 0 10px;
        gap: 15px;
        margin: 20px auto;
    }
    
    .contact-box {
        max-width: 90%; 
        padding: 20px;
    }

    .contact-form-design {
        padding: 20px 10px;
    }
    
    .send-button-figma {
        position: static; 
        margin-top: 15px; 
        width: 100%;
        text-align: center;
    }
    
    .contact-sosmed-figma {
        flex-direction: column; 
        gap: 20px;
        margin-top: 30px;
    }
    .navbar {
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 5%;
    flex-direction: row; 
}}